$purple-brown: #A60040;
$purple: #663399;
$visited-link: #900060;
$sadle-brown: #8B4513;
$brown: hsl(27, 83%, 23%);
$maroon: #800000;

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active { 
  background-color: $maroon; 
} //button

.except-header {
  a:visited {
    color:  $sadle-brown !important;
  }
}
.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $brown;
  
}
.main-part {
  background-color: #f5f5f1;
}
h2 {
  font-weight: bold;
}
.row {
  margin-bottom: 20px;
}
.left-margin {
  margin-left:  80px;
}

.btn-custom {
  background-color: $brown !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e9771a", endColorstr="#6b3509");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e9771a), to(#6b3509));
  background-image: -moz-linear-gradient(top, #e9771a, #6b3509);
  background-image: -ms-linear-gradient(top, #e9771a, #6b3509);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9771a), color-stop(100%, #6b3509));
  background-image: -webkit-linear-gradient(top, #e9771a, #6b3509);
  background-image: -o-linear-gradient(top, #e9771a, #6b3509);
  background-image: linear-gradient(#e9771a, #6b3509);
  border-color: #6b3509 #6b3509 hsl(27, 83%, 16%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.46);
  -webkit-font-smoothing: antialiased;
}
.btn-primary {
  color: #fff !important;
  background-color: $purple-brown !important;
}
jumbotron {
  background-color: #FDF6DB;
  border: 1px solid #f2cb3b;
  h2 {
    color: #c41200;
    font-weight: bold;
  }
}
ul.li-not-styled{
  li {
    list-style-type: none;
  }
}

.navbar-default {
  .container-fluid {
/*                    #B80B03 */
    background-color: $brown;
    .navbar-nav > li > a {
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .navbar-brand {
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Hobo Std';
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 
    1px -1px 0 #fff, -1px 1px 0 #fff;
  }
}

.container-fluid {
  padding: 10px 120px;
}


/*rating-star-input*/

.rated_star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: image-url('../assets/star.png') 0 0;
}

.not_rated_star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: image-url('../assets/star.png') 0 16px;
}

.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
}
.rating-input {
    float: right;
    width: 0;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: image-url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}